{% extends "projects/base.html"%} {% block content %} {% for post in posts %}
<article class="media content-section">
  <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}">
  <div class="media-body">
    <div class="article-metadata">
      <a class="mr-2" href="{% url 'user-posts' post.author.username %}">{{ post.author }}</a>
      <small class="text-muted">{{ post.date_posted|date:"d F, Y" }}</small>
      <a class="category-links article-title" href="{% url 'category-posts' post.category %}">{{ post.category }}</a>
    </div>
    <h4>
      <a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a>
    </h4>
    <p class="article-content">{{ post.description | safe }}</p>
    <p class="article-content">Comments: {{ post.comments.count }}</p>
  </div>
</article>
{% endfor %} 

{% if is_paginated %}

      {% if page_obj.has_previous %}
        <a class="paginate-button" href="?page=1">First</a>
        <a class="paginate-button" href="?page={{ page_obj.previous_page_number }}">Previous</a>
      {% endif %}

      {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
          <a class="paginate-button" href="?page={{ num }}">{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
          <a class="paginate-button" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
        <a class="paginate-button" href="?page={{ page_obj.next_page_number }}">Next</a>
        <a class="paginate-button" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
      {% endif %}

    {% endif %}

{% endblock content %}

{% block sidebar %}
  <div class="content-section-sidebar">
      <h4>Posts</h4>
      <p class='text-muted'>by category
          <ul class="list-group">
              {% for post in posts %}
              {% ifchanged %}
              <li class="list-group-item list-group-item-light"><a class="article-title" href="{% url 'category-posts' post.category %}">{{ post.category }}</a></li>
              {% endifchanged %} 
          {% endfor %}
          </ul>
      </p>
  </div>
{% endblock sidebar%}