{% extends "projects/base.html"%}
{% block content %}

<div class="content-section">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Delete Comment</legend>
            <h4>Are you sure you want to delete</h4>
            <p>{{ comment.text|truncatewords:10 }}....</p>
        </fieldset>
        <div class="form-group">
            <button class="confirm-delete" type="submit">Yes</button>
            <a class="cancel-delete" href="{% url 'post-detail' object.id %}" >No</a>
        </div>
    </form>
</div>

{% endblock content %}