{% extends "projects/base.html"%}
{% load crispy_forms_tags %}
{% block content %}
{% for shop in shops %}
<article class="media content-section">
  <img class="rounded-circle article-img" src="{{ shop.author.profile.image.url }}">
  <div class="media-body">
    <div class="article-metadata">
      <a class="mr-2" href="{% url 'user-shops' shop.author.username %}">{{ shop.author }}</a>
      <small class="text-muted">{{ shop.date_posted|date:"d F, Y" }}</small>
      <a class="category-links article-title" href="{% url 'category-shops' shop.category %}">{{ shop.category }}</a>
    </div>
    <h4>
      <a class="article-title" href="{% url 'shop-detail' shop.id %}">{{ shop.name }}</a>
    </h4>
    <p class="article-content">{{ shop.description | safe }}</p>
  </div>
</article>
{% endfor %} 
{% if is_paginated %}

      {% if page_obj.has_previous %}
        <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
      {% endif %}

      {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
          <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
          <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
      {% endif %}

    {% endif %}
{% endblock content %}

{% block sidebar %}
  <div class="content-section-sidebar">
      <h4>Shops</h4>
      <p class='text-muted'>by category
          <ul class="list-group">
              {% for shop in shops %}
              {% ifchanged %}
              <li class="list-group-item list-group-item-light"><a class="article-title" href="{% url 'category-shops' shop.category %}">{{ shop.category }}</a></li>
              {% endifchanged %} 
          {% endfor %}
          </ul>
      </p>
  </div>
{% endblock sidebar%}
    